@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<a href="~/Imagens/Henrique.jpg" target="_blank">
    <img src="~/Imagens/Henrique.jpg" width="350" height="350" />
</a><br />

<p>My name is Henrique Bernardo and I'm a student, currently on the course of Computing Engineering on the Polytechnic Institute of Tomar. I made this site as part of the subject of Internet Technologies II on the year 2017/2018</p><br />

<p>Usernames and Password</p><br />
<p>Admin - andre@mail.pt</p>
<p>User - tania@mail.pt</p><br />
<p>Password - 123_Asd</p>
